.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background: #9575cd;
    color: floralwhite;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0 20px 0px;
}
#right {
    float: right;
}
p{
    text-align: justify;
}